@{
    ViewData["Title"] = "Home Page";
}
@model BookViewModel

<div class="text-center font-weight-bold row">
    <div class="col-3"><img src="~/amzon.jpg" width="200" /></div>
    <div class="col-6 justify-content-sm-center">
    <h1 class="display-4">Welcome to the Amazon bookstore!</h1>
    <p>Please browse our paginated selection of books.</p>
    </div>
    <div class="col-3">
        <partial name="MiniCart" model="Model.basket" />
    </div>
    
</div>

<br />
<br />
<div class="row">
    <div class="  col-lg-3 col-md-3">
        <vc:types></vc:types>
    </div>
    <div class=" col-lg-9 col-md-9">
        <h3 class="text-center">Available Books</h3>
        @foreach (Book b in Model.Books)
        {
            <partial name="BookSummary" model="b" />
        }
    </div>
</div>

    <div class="btn-group float-left m-1 p-1" page-model="@Model.PageInfo" page-action="Index" page-class="btn" 
         page-class-normal="btn-ouline-primary" page-class-selected="btn-primary" page-classes-enabled="true"></div>

    <br />
    <br />